.gym-project-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;
}

/* .work-container {
    max-width: 1500px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
} */

.gym-work-container {
    display: flex;
    justify-content: center;

}

.gym-project-container {
    min-height: 100%;
    max-width: 60%;
    margin: auto;
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.gym-project-card {
    background: #1a1919;
    padding: 1.2rem 1rem;
    min-height: 550px;
    border-radius: 10px;
    position: relative;
}

.gym-project-card img {
    width: 100%;
}

.gym-project-title {
    color: white;
    padding: 1rem 0;
    font-size: 30px;
}

.gym-project-details p {
    padding-bottom: 1rem;
    font-size: 20px;
    text-align: justify;
}

.pro-btns {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    position: absolute;
    bottom: 0;
}

.pro-btn {
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    /* background: rgba(255, 255, 255, 0.2); */
    color: #222;
    /* border: 1px solid #fff; */
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s
}

.pro-btn:hover {

    background: rgb(22, 201, 246);
    color: #fff;

}


@media screen and (max-width: 740px) {
    .gym-project-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }

}