.project-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.work-container {
    /* max-width: 1500px; */
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.project-container {
    min-height: 100%;
    max-width: 1140px;
    margin: auto;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.project-card {
    background: #1a1919;
    padding: 1.2rem 1rem;
    min-height: 550px;
    border-radius: 10px;
}

.project-card-2 {
    position: relative;
    height: 100%;
}

.project-card img {
    width: 100%;
}

.project-title {
    color: white;
    padding: 1rem 0;
    font-size: 30px;
}

.project-details p {
    padding-bottom: 1rem;
    font-size: 20px;
    text-align: justify;
    position: relative;
}

.workcard-pro-btns {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    position: absolute;
    bottom: 0;
}

.btn-card {
    display: block;
    text-align: center;
    padding: 12px 32px;
    font-size: 2rem;
    background: rgb(22, 201, 246);
    color: #222;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 2px;
    transition: 0.3s;
    text-decoration: none;
    /* position: absolute;
    bottom: 0; */
    width: 100%;
}

.pro-btn {
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    /* background: rgba(255, 255, 255, 0.2); */
    color: #222;
    /* border: 1px solid #fff; */
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
    height: 100%
}

.pro-btn:hover {

    background: rgb(22, 201, 246);
    color: #fff;
}

.btn-card-2:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;

}

.project-card-3 {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.workcard-pro-btns-2 {
    display: flex;
    justify-content: space-between;
}

.btn-card-2 {
    display: block;
    text-align: center;
    padding: 12px 32px;
    font-size: 2rem;
    background: rgb(22, 201, 246);
    color: #222;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 2px;
    transition: 0.3s;
    text-decoration: none;
    height: 100%;
}

.pro-btn-2 {
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    color: #222;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
    height: 100%;
}




@media screen and (max-width: 740px) {

    .work-container {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
        padding-bottom: 5rem;
        margin-top: 50px;
    }

    .project-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }

}