.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    box-sizing: border-box;
    opacity: 95%;
}

.mainHeading {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
}

.mainHeading:hover {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.right {
    display: flex;
    align-items: center;
}

.left {
    padding-left: 0.1%;
}

.routes {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.routesLink {
    margin: 0 10px;
}

.link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
    transition: all 0.3s ease;
    padding: 5px 10px;
    border-radius: 5px;
}

.link:hover {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}