.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: whitesmoke;
    color: #fff;
    box-sizing: border-box;
    opacity: 95%;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.mainHeading {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.mainHeading:hover {
    text-decoration: underline;
}

.right {
    display: flex;
    align-items: center;
}

.left {
    padding-left: 0.1%;
}

.routes {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.routesLink {
    margin: 0 10px;
}

.link {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
    transition: all 0.3s ease;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 0;
    right: 0;
    background: black;
    transition: width 0.3s ease, right 0.3s ease;
}

.link:hover::after {
    width: 68%;
    left: 0;
    margin: 0 10px;
}