@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Cutive', serif;
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Rubik', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;

}

body {
  background: #062c43;
  /* overflow: hidden; */
}


h1,
h2,
h3,
h4,
p {
  margin: 8px 0;
}

p {
  font-family: 'Rubik', sans-serif;
}

h1,
h4,
p,
a {
  color: white;
  text-transform: none;
}

ul {
  list-style-type: none;
}



.btn {
  padding: 12px 32px;
  font-size: 2rem;
  text-transform: uppercase;
  background: rgb(22, 201, 246);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.3s;
  text-decoration: none;
}

.btn-light {
  padding: 12px 32px;
  font-size: 2rem;
  text-transform: uppercase;
  background: rgb(225, 227, 244);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.3s;
  text-decoration: none;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;

}

.btn-light:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;

}

.btn-card:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;

}